h1{
    color: rgb(255, 0, 0);
    text-align: center;
}
body{
   background-color: antiquewhite;
}

h3{
    color: blue;
}
li{
    color: rgb(255, 0, 0);
    text-align: center;
}
.fantas{
    color: blue;
}

.coca{
    text-align: center;
}

.monster{
    text-align: center;
}
.sukita{
    text-align: center;
}